# Bases da Datos

Prompt:  

este es un prompt de ejamplo para usar un llm que nos ayude:

"Sugiere una configuraci√≥n de Python ligera pero potente que use una base de datos basada en archivos para poder practicar con bases de datos. Quiero que el c√≥digo pueda ejecutarse en Google Colab."

1. que opinas del prompt
2. que responderias al prompt

1. ¬øQu√© opino del prompt?

    El prompt est√° bastante bien planteado: es claro, tiene un objetivo (practicar con bases de datos), especifica el entorno (Google Colab) y da una restricci√≥n t√©cnica razonable (base de datos basada en archivos, ligera pero potente).

Algunas sugerencias menores para hacerlo a√∫n m√°s efectivo:

- Aclarar si se quiere usar SQL directamente o tambi√©n experimentar con ORM.
- Mencionar si se desea trabajar en modo interactivo (Jupyter) o con scripts.

Versi√≥n mejorada del prompt (opcional):

```textpain
‚ÄúSugiere una configuraci√≥n ligera en Python para practicar con bases de datos en Google Colab, usando una base de datos basada en archivos (como SQLite). Quiero que el entorno sea f√°cil de usar, preferentemente con SQL y tambi√©n opcionalmente con SQLAlchemy (ORM).‚Äù
```

2. ¬øQu√© responder√≠a al prompt?

    Aqu√≠ va una posible respuesta √∫til del LLM:

Para practicar bases de datos en Google Colab con una configuraci√≥n ligera pero potente, te recomiendo usar SQLite junto con las librer√≠as est√°ndar de Python y, opcionalmente, SQLAlchemy para trabajar con ORM.

- ‚úÖ Configuraci√≥n recomendada:

```python
# Instalar SQLAlchemy si quer√©s usar ORM
!pip install sqlalchemy
```

- üîß Librer√≠as a usar:
  - sqlite3: viene con Python, permite ejecutar consultas SQL directamente.
  - SQLAlchemy: opcional, permite trabajar con bases de datos usando clases y objetos de Python (ORM).
  -

- üóÉÔ∏è Base de datos basada en archivo:

    SQLite crea un archivo .db que contiene toda la base de datos. Es ideal para Colab porque:

  - No necesita instalaci√≥n de servidor.
  - Se puede guardar en el sistema de archivos de Colab o descargarlo.

In [150]:
import sqlite3

In [151]:
# Crear conexi√≥n y cursor
conn = sqlite3.connect("mi_base_de_datos_2.db")
cursor = conn.cursor()

In [152]:
# Crear tabla
cursor.execute("CREATE TABLE IF NOT EXISTS alumnos (id INTEGER PRIMARY KEY, nombre TEXT)")

In [153]:
# Insertar datos
cursor.execute("INSERT INTO alumnos (nombre) VALUES (?)", ("Ana",))
conn.commit()

In [154]:
# Leer datos
cursor.execute("SELECT * FROM alumnos")
print(cursor.fetchall())

[(1, 'Ana')]

Cargar varios registros desde una lista de tuplas

In [155]:
# Lista de alumnos
alumnos = [("Luis",), ("Mar√≠a",), ("Pedro",), ("Luc√≠a",)]

# Insertar m√∫ltiples filas con executemany
cursor.executemany("INSERT INTO alumnos (nombre) VALUES (?)", alumnos)
conn.commit()

In [156]:
filas = cursor.execute("SELECT * FROM alumnos")

In [157]:
filas

In [158]:
for fila in filas:
    print(type(fila), fila)

<class 'tuple'> (1, 'Ana')
<class 'tuple'> (2, 'Luis')
<class 'tuple'> (3, 'Mar√≠a')
<class 'tuple'> (4, 'Pedro')
<class 'tuple'> (5, 'Luc√≠a')

In [159]:
# Cerrar cpneccion a la base

conn.close()

- üöÄ Consejo extra:

Pod√©s usar librer√≠as como pandas para visualizar resultados de consultas en forma de tabla:

In [160]:
import pandas as pd

conn = sqlite3.connect("mi_base_de_datos.db")
df = pd.read_sql_query("SELECT * FROM alumnos", conn)
df.head()

   id nombre
0   1    Ana
1   2   Luis
2   3  Mar√≠a
3   4  Pedro
4   5  Luc√≠a

### Otro ejemplo con mas datos y una base de datos en memoria

Para crear una base de datos en memoria (es decir, que no se guarda en disco y se borra al cerrar la conexi√≥n), el cambio clave est√° en la URL de conexi√≥n.

üß† Cambios seg√∫n la librer√≠a

- ‚úÖ 1. Con sqlite3 (base en memoria)

    ```python
    import sqlite3

    conn = sqlite3.connect(":memory:")
    ```

":memory:" le indica a SQLite que cree una base temporal en la RAM.

Se borra cuando cerr√°s la conexi√≥n, Ideal para pruebas r√°pidas.

- ‚úÖ 2. Con SQLAlchemy

    ```python
    from sqlalchemy import create_engine

    engine = create_engine("sqlite:///:memory:", echo=True)
    ```

"sqlite:///:memory:" hace lo mismo: base en RAM, no en archivo.

Record√° que cada conexi√≥n nueva crea una base distinta, as√≠ que si vas a usar engine.connect() varias veces, deber√≠as usar la misma conexi√≥n o manejar un poolclass.

- ‚ö†Ô∏è Importante con SQLAlchemy

    Si vas a usar la base de datos en memoria con varios accesos, us√° esto para mantener la misma conexi√≥n abierta:

    ```python
    from sqlalchemy.pool import StaticPool
    engine = create_engine(
        "sqlite:///:memory:",
        connect_args={"check_same_thread": False},
        poolclass=StaticPool,
        echo=True
    )
    ```

In [161]:
from sqlalchemy import create_engine, text

In [162]:
# Crear conexi√≥n a una base de datos SQLite en memoria ram
engine = create_engine("sqlite:///:memory:", echo=False)

# Crear tabla e insertar m√∫ltiples filas
with engine.connect() as conn:
    conn.execute(text("DROP TABLE IF EXISTS alumnos"))
    conn.execute(text("CREATE TABLE alumnos (id INTEGER PRIMARY KEY, nombre TEXT)"))
    conn.execute(text("INSERT INTO alumnos (nombre) VALUES ('Ana'), ('Luis'), ('Mar√≠a')"))
    conn.commit()

In [163]:
# Ejecutar consulta que devuelve varias filas
with engine.connect() as conn:
    result = conn.execute(text("SELECT nombre FROM alumnos"))
    
    # scalar() solo toma el primer valor de la primera fila
    print("Usando .scalar():", result.scalar())  # ‚Üí Ana

Usando .scalar(): Ana

‚ö†Ô∏è Importante

> Despu√©s de usar .scalar(), el cursor ya ha le√≠do la primera fila, por lo que si luego quer√©s recorrer el resto, tendr√≠as que reejecutar la consulta o usar otro m√©todo como .fetchall() desde el principio.

In [164]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT nombre FROM alumnos"))
    print("Usando .fetchoone():", result.fetchone())  # ‚Üí Ana

Usando .fetchoone(): ('Ana',)

| M√©todo        | Devuelve                                      | Uso t√≠pico                        |
| ------------- | --------------------------------------------- | --------------------------------- |
| `scalar()`    | Un solo valor (primera columna, primera fila) | Consultas tipo `SELECT COUNT(*)`  |
| `fetchone()`  | Una sola fila                                 | Cuando esper√°s un √∫nico resultado |
| `fetchall()`  | Lista de todas las filas                      | Para procesar todo el resultado   |
| `fetchmany()` | Lista parcial de filas                        | Si quer√©s paginar o limitar       |
| Iteraci√≥n     | Una fila por ciclo                            | Para recorrer grandes resultados  |

# Ejamplo Usando Magia de en jupyter

El uso de la "magia" SQL (`%sql` o `%%sql`) ofrecida por la [extensi√≥n](https://pypi.org/project/ipython-sql/) `ipython-sql`, que te permite conectarte a una base de datos y emitir comandos SQL de forma interactiva dentro de un cuaderno de JupyterLab. JupyterLab define "magia" como comandos especiales precedidos por `%`. Aqu√≠, emplear√°s la magia `load_ext` para cargar la extensi√≥n `ipython-sql`. Carga el m√≥dulo SQL:

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///mi_base_de_datos.db

In [3]:
%%sql
SELECT * 
FROM alumnos;

 * sqlite:///mi_base_de_datos.db
Done.

[(1, 'Ana'),
 (2, 'Luis'),
 (3, 'Mar√≠a'),
 (4, 'Pedro'),
 (5, 'Luc√≠a'),
 (6, 'Ana'),
 (7, 'Luis'),
 (8, 'Mar√≠a'),
 (9, 'Pedro'),
 (10, 'Luc√≠a')]

## Acceder a una base mysql o postgress

- Ejemplo con mysql

```python
connection_url = f'mysql+pymysql://{User}:{PASSWORD}@{HOST}:{PUERTO}/{BASE}'
```

- **mysql+pymysql://**
  - **mysql**: tipo de base de datos.
  - **pymysql**: es el "driver" o conector que permite a Python hablar con MySQL.
    - pip install pymysql
- **{DBUSER} y {DBPASSWORD}**
  - **DBUSER**: el nombre del usuario de la base de datos.
  - **DBPASSWORD**: la contrase√±a de ese usuario.
- **@{DBHOST}:{DBPORT}**
  - **DBHOST**: la direcci√≥n donde est√° la base de datos (puede ser "localhost" si est√° en tu computadora).
  - **DBPORT**: el puerto que usa MySQL (normalmente 3306).
- **/{DBNAME}**
  - **DBNAME**: el nombre de la base de datos a la que te quieres conectar.

In [4]:
HOST="localhost"
PORT=3306
NAME="sakila"
USER="root"
PASSWORD=3645

In [5]:
connection_url = f'mysql+pymysql://{USER}:{PASSWORD}@{HOST}:{PORT}/{NAME}'

In [6]:
%sql {connection_url}

In [7]:
%sql SHOW TABLES;

 * mysql+pymysql://root:***@localhost:3306/sakila
   sqlite:///mi_base_de_datos.db
23 rows affected.

[('actor',),
 ('actor_info',),
 ('address',),
 ('category',),
 ('city',),
 ('country',),
 ('customer',),
 ('customer_list',),
 ('film',),
 ('film_actor',),
 ('film_category',),
 ('film_list',),
 ('film_text',),
 ('inventory',),
 ('language',),
 ('nicer_but_slower_film_list',),
 ('payment',),
 ('rental',),
 ('sales_by_film_category',),
 ('sales_by_store',),
 ('staff',),
 ('staff_list',),
 ('store',)]

In [8]:
Tablas = %sql SELECT table_name, column_name, data_type \
FROM information_schema.columns \
WHERE table_schema = DATABASE();

 * mysql+pymysql://root:***@localhost:3306/sakila
   sqlite:///mi_base_de_datos.db
132 rows affected.

In [9]:
Tablas

[('actor', 'actor_id', 'smallint'),
 ('actor', 'first_name', 'varchar'),
 ('actor', 'last_name', 'varchar'),
 ('actor', 'last_update', 'timestamp'),
 ('actor_info', 'actor_id', 'smallint'),
 ('actor_info', 'film_info', 'text'),
 ('actor_info', 'first_name', 'varchar'),
 ('actor_info', 'last_name', 'varchar'),
 ('address', 'address', 'varchar'),
 ('address', 'address2', 'varchar'),
 ('address', 'address_id', 'smallint'),
 ('address', 'city_id', 'smallint'),
 ('address', 'district', 'varchar'),
 ('address', 'last_update', 'timestamp'),
 ('address', 'location', 'geometry'),
 ('address', 'phone', 'varchar'),
 ('address', 'postal_code', 'varchar'),
 ('category', 'category_id', 'tinyint'),
 ('category', 'last_update', 'timestamp'),
 ('category', 'name', 'varchar'),
 ('city', 'city', 'varchar'),
 ('city', 'city_id', 'smallint'),
 ('city', 'country_id', 'smallint'),
 ('city', 'last_update', 'timestamp'),
 ('country', 'country', 'varchar'),
 ('country', 'country_id', 'smallint'),
 ('country', 'last_update', 'timestamp'),
 ('customer', 'active', 'tinyint'),
 ('customer', 'address_id', 'smallint'),
 ('customer', 'create_date', 'datetime'),
 ('customer', 'customer_id', 'smallint'),
 ('customer', 'email', 'varchar'),
 ('customer', 'first_name', 'varchar'),
 ('customer', 'last_name', 'varchar'),
 ('customer', 'last_update', 'timestamp'),
 ('customer', 'store_id', 'tinyint'),
 ('customer_list', 'address', 'varchar'),
 ('customer_list', 'city', 'varchar'),
 ('customer_list', 'country', 'varchar'),
 ('customer_list', 'ID', 'smallint'),
 ('customer_list', 'name', 'varchar'),
 ('customer_list', 'notes', 'varchar'),
 ('customer_list', 'phone', 'varchar'),
 ('customer_list', 'SID', 'tinyint'),
 ('customer_list', 'zip code', 'varchar'),
 ('film', 'description', 'text'),
 ('film', 'film_id', 'smallint'),
 ('film', 'language_id', 'tinyint'),
 ('film', 'last_update', 'timestamp'),
 ('film', 'length', 'smallint'),
 ('film', 'original_language_id', 'tinyint'),
 ('film', 'rating', 'enum'),
 ('film', 'release_year', 'year'),
 ('film', 'rental_duration', 'tinyint'),
 ('film', 'rental_rate', 'decimal'),
 ('film', 'replacement_cost', 'decimal'),
 ('film', 'special_features', 'set'),
 ('film', 'title', 'varchar'),
 ('film_actor', 'actor_id', 'smallint'),
 ('film_actor', 'film_id', 'smallint'),
 ('film_actor', 'last_update', 'timestamp'),
 ('film_category', 'category_id', 'tinyint'),
 ('film_category', 'film_id', 'smallint'),
 ('film_category', 'last_update', 'timestamp'),
 ('film_list', 'actors', 'text'),
 ('film_list', 'category', 'varchar'),
 ('film_list', 'description', 'text'),
 ('film_list', 'FID', 'smallint'),
 ('film_list', 'length', 'smallint'),
 ('film_list', 'price', 'decimal'),
 ('film_list', 'rating', 'enum'),
 ('film_list', 'title', 'varchar'),
 ('film_text', 'description', 'text'),
 ('film_text', 'film_id', 'smallint'),
 ('film_text', 'title', 'varchar'),
 ('inventory', 'film_id', 'smallint'),
 ('inventory', 'inventory_id', 'mediumint'),
 ('inventory', 'last_update', 'timestamp'),
 ('inventory', 'store_id', 'tinyint'),
 ('language', 'language_id', 'tinyint'),
 ('language', 'last_update', 'timestamp'),
 ('language', 'name', 'char'),
 ('nicer_but_slower_film_list', 'actors', 'text'),
 ('nicer_but_slower_film_list', 'category', 'varchar'),
 ('nicer_but_slower_film_list', 'description', 'text'),
 ('nicer_but_slower_film_list', 'FID', 'smallint'),
 ('nicer_but_slower_film_list', 'length', 'smallint'),
 ('nicer_but_slower_film_list', 'price', 'decimal'),
 ('nicer_but_slower_film_list', 'rating', 'enum'),
 ('nicer_but_slower_film_list', 'title', 'varchar'),
 ('payment', 'amount', 'decimal'),
 ('payment', 'customer_id', 'smallint'),
 ('payment', 'last_update', 'timestamp'),
 ('payment', 'payment_date', 'datetime'),
 ('payment', 'payment_id', 'smallint'),
 ('payment', 'rental_id', 'int'),
 ('payment', 'staff_id', 'tinyint'),
 ('rental', 'customer_id', 'smallint'),
 ('rental', 'inventory_id', 'mediumint'),
 ('rental', 'last_update', 'timestamp'),
 ('rental', 'rental_date', 'datetime'),
 ('rental', 'rental_id', 'int'),
 ('rental', 'return_date', 'datetime'),
 ('rental', 'staff_id', 'tinyint'),
 ('sales_by_film_category', 'category', 'varchar'),
 ('sales_by_film_category', 'total_sales', 'decimal'),
 ('sales_by_store', 'manager', 'varchar'),
 ('sales_by_store', 'store', 'varchar'),
 ('sales_by_store', 'total_sales', 'decimal'),
 ('staff', 'active', 'tinyint'),
 ('staff', 'address_id', 'smallint'),
 ('staff', 'email', 'varchar'),
 ('staff', 'first_name', 'varchar'),
 ('staff', 'last_name', 'varchar'),
 ('staff', 'last_update', 'timestamp'),
 ('staff', 'password', 'varchar'),
 ('staff', 'picture', 'blob'),
 ('staff', 'staff_id', 'tinyint'),
 ('staff', 'store_id', 'tinyint'),
 ('staff', 'username', 'varchar'),
 ('staff_list', 'address', 'varchar'),
 ('staff_list', 'city', 'varchar'),
 ('staff_list', 'country', 'varchar'),
 ('staff_list', 'ID', 'tinyint'),
 ('staff_list', 'name', 'varchar'),
 ('staff_list', 'phone', 'varchar'),
 ('staff_list', 'SID', 'tinyint'),
 ('staff_list', 'zip code', 'varchar'),
 ('store', 'address_id', 'smallint'),
 ('store', 'last_update', 'timestamp'),
 ('store', 'manager_staff_id', 'tinyint'),
 ('store', 'store_id', 'tinyint')]

In [10]:
tables = %sql SHOW TABLES;
squema = ""
for table in tables:
    result = %sql SHOW CREATE TABLE {table[0]}
    squema += result[0][1]  # el SQL est√° en la segunda columna
    squema += "\n" + "-"*80 + "\n"

 * mysql+pymysql://root:***@localhost:3306/sakila
   sqlite:///mi_base_de_datos.db
23 rows affected.
 * mysql+pymysql://root:***@localhost:3306/sakila
   sqlite:///mi_base_de_datos.db
1 rows affected.
 * mysql+pymysql://root:***@localhost:3306/sakila
   sqlite:///mi_base_de_datos.db
1 rows affected.
 * mysql+pymysql://root:***@localhost:3306/sakila
   sqlite:///mi_base_de_datos.db
1 rows affected.
 * mysql+pymysql://root:***@localhost:3306/sakila
   sqlite:///mi_base_de_datos.db
1 rows affected.
 * mysql+pymysql://root:***@localhost:3306/sakila
   sqlite:///mi_base_de_datos.db
1 rows affected.
 * mysql+pymysql://root:***@localhost:3306/sakila
   sqlite:///mi_base_de_datos.db
1 rows affected.
 * mysql+pymysql://root:***@localhost:3306/sakila
   sqlite:///mi_base_de_datos.db
1 rows affected.
 * mysql+pymysql://root:***@localhost:3306/sakila
   sqlite:///mi_base_de_datos.db
1 rows affected.
 * mysql+pymysql://root:***@localhost:3306/sakila
   sqlite:///mi_base_de_datos.db
1 rows affected.
 * mysql+pymysql://root:***@localhost:3306/sakila
   sqlite:///mi_base_de_datos.db
1 rows affected.
 * mysql+pymysql://root:***@localhost:3306/sakila
   sqlite:///mi_base_de_datos.db
1 rows affected.
 * mysql+pymysql://root:***@localhost:3306/sakila
   sqlite:///mi_base_de_datos.db
1 rows affected.
 * mysql+pymysql://root:***@localhost:3306/sakila
   sqlite:///mi_base_de_datos.db
1 rows affected.
 * mysql+pymysql://root:***@localhost:3306/sakila
   sqlite:///mi_base_de_datos.db
1 rows affected.
 * mysql+pymysql://root:***@localhost:3306/sakila
   sqlite:///mi_base_de_datos.db
1 rows affected.
 * mysql+pymysql://root:***@localhost:3306/sakila
   sqlite:///mi_base_de_datos.db
1 rows affected.
 * mysql+pymysql://root:***@localhost:3306/sakila
   sqlite:///mi_base_de_datos.db
1 rows affected.
 * mysql+pymysql://root:***@localhost:3306/sakila
   sqlite:///mi_base_de_datos.db
1 rows affected.
 * mysql+pymysql://root:***@localhost:3306/sakila
   sqlite:///mi_base_de_datos.db
1 rows affected.
 * mysql+pymysql://root:***@localhost:3306/sakila
   sqlite:///mi_base_de_datos.db
1 rows affected.
 * mysql+pymysql://root:***@localhost:3306/sakila
   sqlite:///mi_base_de_datos.db
1 rows affected.
 * mysql+pymysql://root:***@localhost:3306/sakila
   sqlite:///mi_base_de_datos.db
1 rows affected.
 * mysql+pymysql://root:***@localhost:3306/sakila
   sqlite:///mi_base_de_datos.db
1 rows affected.

In [11]:
print(squema)

CREATE TABLE `actor` (
  `actor_id` smallint unsigned NOT NULL AUTO_INCREMENT,
  `first_name` varchar(45) NOT NULL,
  `last_name` varchar(45) NOT NULL,
  `last_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`actor_id`),
  KEY `idx_actor_last_name` (`last_name`)
) ENGINE=InnoDB AUTO_INCREMENT=201 DEFAULT CHARSET=utf8mb3
--------------------------------------------------------------------------------
CREATE ALGORITHM=UNDEFINED DEFINER=`root`@`localhost` SQL SECURITY INVOKER VIEW `actor_info` AS select `a`.`actor_id` AS `actor_id`,`a`.`first_name` AS `first_name`,`a`.`last_name` AS `last_name`,group_concat(distinct concat(`c`.`name`,': ',(select group_concat(`f`.`title` order by `f`.`title` ASC separator ', ') from ((`film` `f` join `film_category` `fc` on((`f`.`film_id` = `fc`.`film_id`))) join `film_actor` `fa` on((`f`.`film_id` = `fa`.`film_id`))) where ((`fc`.`category_id` = `c`.`category_id`) and (`fa`.`actor_id` = `a`.`actor_id`)))) order by `c`.`name` ASC separator '; ') AS `film_info` from (((`actor` `a` left join `film_actor` `fa` on((`a`.`actor_id` = `fa`.`actor_id`))) left join `film_category` `fc` on((`fa`.`film_id` = `fc`.`film_id`))) left join `category` `c` on((`fc`.`category_id` = `c`.`category_id`))) group by `a`.`actor_id`,`a`.`first_name`,`a`.`last_name`
--------------------------------------------------------------------------------
CREATE TABLE `address` (
  `address_id` smallint unsigned NOT NULL AUTO_INCREMENT,
  `address` varchar(50) NOT NULL,
  `address2` varchar(50) DEFAULT NULL,
  `district` varchar(20) NOT NULL,
  `city_id` smallint unsigned NOT NULL,
  `postal_code` varchar(10) DEFAULT NULL,
  `phone` varchar(20) NOT NULL,
  `location` geometry NOT NULL,
  `last_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`address_id`),
  KEY `idx_fk_city_id` (`city_id`),
  SPATIAL KEY `idx_location` (`location`),
  CONSTRAINT `fk_address_city` FOREIGN KEY (`city_id`) REFERENCES `city` (`city_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=606 DEFAULT CHARSET=utf8mb3
--------------------------------------------------------------------------------
CREATE TABLE `category` (
  `category_id` tinyint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(25) NOT NULL,
  `last_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`category_id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb3
--------------------------------------------------------------------------------
CREATE TABLE `city` (
  `city_id` smallint unsigned NOT NULL AUTO_INCREMENT,
  `city` varchar(50) NOT NULL,
  `country_id` smallint unsigned NOT NULL,
  `last_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`city_id`),
  KEY `idx_fk_country_id` (`country_id`),
  CONSTRAINT `fk_city_country` FOREIGN KEY (`country_id`) REFERENCES `country` (`country_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=601 DEFAULT CHARSET=utf8mb3
--------------------------------------------------------------------------------
CREATE TABLE `country` (
  `country_id` smallint unsigned NOT NULL AUTO_INCREMENT,
  `country` varchar(50) NOT NULL,
  `last_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`country_id`)
) ENGINE=InnoDB AUTO_INCREMENT=110 DEFAULT CHARSET=utf8mb3
--------------------------------------------------------------------------------
CREATE TABLE `customer` (
  `customer_id` smallint unsigned NOT NULL AUTO_INCREMENT,
  `store_id` tinyint unsigned NOT NULL,
  `first_name` varchar(45) NOT NULL,
  `last_name` varchar(45) NOT NULL,
  `email` varchar(50) DEFAULT NULL,
  `address_id` smallint unsigned NOT NULL,
  `active` tinyint(1) NOT NULL DEFAULT '1',
  `create_date` datetime NOT NULL,
  `last_update` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`customer_id`),
  KEY `idx_fk_store_id` (`store_id`),
  KEY `idx_fk_address_id` (`address_id`),
  KEY `idx_last_name` (`last_name`),
  CONSTRAINT `fk_customer_address` FOREIGN KEY (`address_id`) REFERENCES `address` (`address_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_customer_store` FOREIGN KEY (`store_id`) REFERENCES `store` (`store_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=600 DEFAULT CHARSET=utf8mb3
--------------------------------------------------------------------------------
CREATE ALGORITHM=UNDEFINED DEFINER=`root`@`localhost` SQL SECURITY DEFINER VIEW `customer_list` AS select `cu`.`customer_id` AS `ID`,concat(`cu`.`first_name`,_utf8mb3' ',`cu`.`last_name`) AS `name`,`a`.`address` AS `address`,`a`.`postal_code` AS `zip code`,`a`.`phone` AS `phone`,`city`.`city` AS `city`,`country`.`country` AS `country`,if(`cu`.`active`,_utf8mb3'active',_utf8mb3'') AS `notes`,`cu`.`store_id` AS `SID` from (((`customer` `cu` join `address` `a` on((`cu`.`address_id` = `a`.`address_id`))) join `city` on((`a`.`city_id` = `city`.`city_id`))) join `country` on((`city`.`country_id` = `country`.`country_id`)))
--------------------------------------------------------------------------------
CREATE TABLE `film` (
  `film_id` smallint unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `description` text,
  `release_year` year DEFAULT NULL,
  `language_id` tinyint unsigned NOT NULL,
  `original_language_id` tinyint unsigned DEFAULT NULL,
  `rental_duration` tinyint unsigned NOT NULL DEFAULT '3',
  `rental_rate` decimal(4,2) NOT NULL DEFAULT '4.99',
  `length` smallint unsigned DEFAULT NULL,
  `replacement_cost` decimal(5,2) NOT NULL DEFAULT '19.99',
  `rating` enum('G','PG','PG-13','R','NC-17') DEFAULT 'G',
  `special_features` set('Trailers','Commentaries','Deleted Scenes','Behind the Scenes') DEFAULT NULL,
  `last_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`film_id`),
  KEY `idx_title` (`title`),
  KEY `idx_fk_language_id` (`language_id`),
  KEY `idx_fk_original_language_id` (`original_language_id`),
  CONSTRAINT `fk_film_language` FOREIGN KEY (`language_id`) REFERENCES `language` (`language_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_film_language_original` FOREIGN KEY (`original_language_id`) REFERENCES `language` (`language_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1001 DEFAULT CHARSET=utf8mb3
--------------------------------------------------------------------------------
CREATE TABLE `film_actor` (
  `actor_id` smallint unsigned NOT NULL,
  `film_id` smallint unsigned NOT NULL,
  `last_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`actor_id`,`film_id`),
  KEY `idx_fk_film_id` (`film_id`),
  CONSTRAINT `fk_film_actor_actor` FOREIGN KEY (`actor_id`) REFERENCES `actor` (`actor_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_film_actor_film` FOREIGN KEY (`film_id`) REFERENCES `film` (`film_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3
--------------------------------------------------------------------------------
CREATE TABLE `film_category` (
  `film_id` smallint unsigned NOT NULL,
  `category_id` tinyint unsigned NOT NULL,
  `last_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`film_id`,`category_id`),
  KEY `fk_film_category_category` (`category_id`),
  CONSTRAINT `fk_film_category_category` FOREIGN KEY (`category_id`) REFERENCES `category` (`category_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_film_category_film` FOREIGN KEY (`film_id`) REFERENCES `film` (`film_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3
--------------------------------------------------------------------------------
CREATE ALGORITHM=UNDEFINED DEFINER=`root`@`localhost` SQL SECURITY DEFINER VIEW `film_list` AS select `film`.`film_id` AS `FID`,`film`.`title` AS `title`,`film`.`description` AS `description`,`category`.`name` AS `category`,`film`.`rental_rate` AS `price`,`film`.`length` AS `length`,`film`.`rating` AS `rating`,group_concat(concat(`actor`.`first_name`,_utf8mb3' ',`actor`.`last_name`) separator ', ') AS `actors` from ((((`category` left join `film_category` on((`category`.`category_id` = `film_category`.`category_id`))) left join `film` on((`film_category`.`film_id` = `film`.`film_id`))) join `film_actor` on((`film`.`film_id` = `film_actor`.`film_id`))) join `actor` on((`film_actor`.`actor_id` = `actor`.`actor_id`))) group by `film`.`film_id`,`category`.`name`
--------------------------------------------------------------------------------
CREATE TABLE `film_text` (
  `film_id` smallint NOT NULL,
  `title` varchar(255) NOT NULL,
  `description` text,
  PRIMARY KEY (`film_id`),
  FULLTEXT KEY `idx_title_description` (`title`,`description`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3
--------------------------------------------------------------------------------
CREATE TABLE `inventory` (
  `inventory_id` mediumint unsigned NOT NULL AUTO_INCREMENT,
  `film_id` smallint unsigned NOT NULL,
  `store_id` tinyint unsigned NOT NULL,
  `last_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`inventory_id`),
  KEY `idx_fk_film_id` (`film_id`),
  KEY `idx_store_id_film_id` (`store_id`,`film_id`),
  CONSTRAINT `fk_inventory_film` FOREIGN KEY (`film_id`) REFERENCES `film` (`film_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_inventory_store` FOREIGN KEY (`store_id`) REFERENCES `store` (`store_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4582 DEFAULT CHARSET=utf8mb3
--------------------------------------------------------------------------------
CREATE TABLE `language` (
  `language_id` tinyint unsigned NOT NULL AUTO_INCREMENT,
  `name` char(20) NOT NULL,
  `last_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`language_id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb3
--------------------------------------------------------------------------------
CREATE ALGORITHM=UNDEFINED DEFINER=`root`@`localhost` SQL SECURITY DEFINER VIEW `nicer_but_slower_film_list` AS select `film`.`film_id` AS `FID`,`film`.`title` AS `title`,`film`.`description` AS `description`,`category`.`name` AS `category`,`film`.`rental_rate` AS `price`,`film`.`length` AS `length`,`film`.`rating` AS `rating`,group_concat(concat(concat(upper(substr(`actor`.`first_name`,1,1)),lower(substr(`actor`.`first_name`,2,length(`actor`.`first_name`))),_utf8mb3' ',concat(upper(substr(`actor`.`last_name`,1,1)),lower(substr(`actor`.`last_name`,2,length(`actor`.`last_name`)))))) separator ', ') AS `actors` from ((((`category` left join `film_category` on((`category`.`category_id` = `film_category`.`category_id`))) left join `film` on((`film_category`.`film_id` = `film`.`film_id`))) join `film_actor` on((`film`.`film_id` = `film_actor`.`film_id`))) join `actor` on((`film_actor`.`actor_id` = `actor`.`actor_id`))) group by `film`.`film_id`,`category`.`name`
--------------------------------------------------------------------------------
CREATE TABLE `payment` (
  `payment_id` smallint unsigned NOT NULL AUTO_INCREMENT,
  `customer_id` smallint unsigned NOT NULL,
  `staff_id` tinyint unsigned NOT NULL,
  `rental_id` int DEFAULT NULL,
  `amount` decimal(5,2) NOT NULL,
  `payment_date` datetime NOT NULL,
  `last_update` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`payment_id`),
  KEY `idx_fk_staff_id` (`staff_id`),
  KEY `idx_fk_customer_id` (`customer_id`),
  KEY `fk_payment_rental` (`rental_id`),
  CONSTRAINT `fk_payment_customer` FOREIGN KEY (`customer_id`) REFERENCES `customer` (`customer_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_payment_rental` FOREIGN KEY (`rental_id`) REFERENCES `rental` (`rental_id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_payment_staff` FOREIGN KEY (`staff_id`) REFERENCES `staff` (`staff_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=16050 DEFAULT CHARSET=utf8mb3
--------------------------------------------------------------------------------
CREATE TABLE `rental` (
  `rental_id` int NOT NULL AUTO_INCREMENT,
  `rental_date` datetime NOT NULL,
  `inventory_id` mediumint unsigned NOT NULL,
  `customer_id` smallint unsigned NOT NULL,
  `return_date` datetime DEFAULT NULL,
  `staff_id` tinyint unsigned NOT NULL,
  `last_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`rental_id`),
  UNIQUE KEY `rental_date` (`rental_date`,`inventory_id`,`customer_id`),
  KEY `idx_fk_inventory_id` (`inventory_id`),
  KEY `idx_fk_customer_id` (`customer_id`),
  KEY `idx_fk_staff_id` (`staff_id`),
  CONSTRAINT `fk_rental_customer` FOREIGN KEY (`customer_id`) REFERENCES `customer` (`customer_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_rental_inventory` FOREIGN KEY (`inventory_id`) REFERENCES `inventory` (`inventory_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_rental_staff` FOREIGN KEY (`staff_id`) REFERENCES `staff` (`staff_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=16050 DEFAULT CHARSET=utf8mb3
--------------------------------------------------------------------------------
CREATE ALGORITHM=UNDEFINED DEFINER=`root`@`localhost` SQL SECURITY DEFINER VIEW `sales_by_film_category` AS select `c`.`name` AS `category`,sum(`p`.`amount`) AS `total_sales` from (((((`payment` `p` join `rental` `r` on((`p`.`rental_id` = `r`.`rental_id`))) join `inventory` `i` on((`r`.`inventory_id` = `i`.`inventory_id`))) join `film` `f` on((`i`.`film_id` = `f`.`film_id`))) join `film_category` `fc` on((`f`.`film_id` = `fc`.`film_id`))) join `category` `c` on((`fc`.`category_id` = `c`.`category_id`))) group by `c`.`name` order by `total_sales` desc
--------------------------------------------------------------------------------
CREATE ALGORITHM=UNDEFINED DEFINER=`root`@`localhost` SQL SECURITY DEFINER VIEW `sales_by_store` AS select concat(`c`.`city`,_utf8mb3',',`cy`.`country`) AS `store`,concat(`m`.`first_name`,_utf8mb3' ',`m`.`last_name`) AS `manager`,sum(`p`.`amount`) AS `total_sales` from (((((((`payment` `p` join `rental` `r` on((`p`.`rental_id` = `r`.`rental_id`))) join `inventory` `i` on((`r`.`inventory_id` = `i`.`inventory_id`))) join `store` `s` on((`i`.`store_id` = `s`.`store_id`))) join `address` `a` on((`s`.`address_id` = `a`.`address_id`))) join `city` `c` on((`a`.`city_id` = `c`.`city_id`))) join `country` `cy` on((`c`.`country_id` = `cy`.`country_id`))) join `staff` `m` on((`s`.`manager_staff_id` = `m`.`staff_id`))) group by `s`.`store_id` order by `cy`.`country`,`c`.`city`
--------------------------------------------------------------------------------
CREATE TABLE `staff` (
  `staff_id` tinyint unsigned NOT NULL AUTO_INCREMENT,
  `first_name` varchar(45) NOT NULL,
  `last_name` varchar(45) NOT NULL,
  `address_id` smallint unsigned NOT NULL,
  `picture` blob,
  `email` varchar(50) DEFAULT NULL,
  `store_id` tinyint unsigned NOT NULL,
  `active` tinyint(1) NOT NULL DEFAULT '1',
  `username` varchar(16) NOT NULL,
  `password` varchar(40) CHARACTER SET utf8mb3 COLLATE utf8_bin DEFAULT NULL,
  `last_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`staff_id`),
  KEY `idx_fk_store_id` (`store_id`),
  KEY `idx_fk_address_id` (`address_id`),
  CONSTRAINT `fk_staff_address` FOREIGN KEY (`address_id`) REFERENCES `address` (`address_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_staff_store` FOREIGN KEY (`store_id`) REFERENCES `store` (`store_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb3
--------------------------------------------------------------------------------
CREATE ALGORITHM=UNDEFINED DEFINER=`root`@`localhost` SQL SECURITY DEFINER VIEW `staff_list` AS select `s`.`staff_id` AS `ID`,concat(`s`.`first_name`,_utf8mb3' ',`s`.`last_name`) AS `name`,`a`.`address` AS `address`,`a`.`postal_code` AS `zip code`,`a`.`phone` AS `phone`,`city`.`city` AS `city`,`country`.`country` AS `country`,`s`.`store_id` AS `SID` from (((`staff` `s` join `address` `a` on((`s`.`address_id` = `a`.`address_id`))) join `city` on((`a`.`city_id` = `city`.`city_id`))) join `country` on((`city`.`country_id` = `country`.`country_id`)))
--------------------------------------------------------------------------------
CREATE TABLE `store` (
  `store_id` tinyint unsigned NOT NULL AUTO_INCREMENT,
  `manager_staff_id` tinyint unsigned NOT NULL,
  `address_id` smallint unsigned NOT NULL,
  `last_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`store_id`),
  UNIQUE KEY `idx_unique_manager` (`manager_staff_id`),
  KEY `idx_fk_address_id` (`address_id`),
  CONSTRAINT `fk_store_address` FOREIGN KEY (`address_id`) REFERENCES `address` (`address_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_store_staff` FOREIGN KEY (`manager_staff_id`) REFERENCES `staff` (`staff_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb3
--------------------------------------------------------------------------------

# Uso de LLms para consultas

In [12]:
import openai 
from dotenv import load_dotenv
if  load_dotenv():
    cliente = openai.OpenAI()

In [13]:
def consulta(pregunta, esq=squema):
    prompt_sys = f"""
eres un experto en consultas de sql, aca tenes la informacion de la base a trabajar
{esq}
Solo debes devolver la consulta sql sin agregar ningun comentario
"""
    response =  cliente.chat.completions.create(
        model = "gpt-4o-mini",
        messages = [{
            "role": "system",
            "content": prompt_sys},
        {
            "role": "user",
            "content": f"Genera una query sql que reuelva lo siguiente : {pregunta}"
        }
        ])
    return response.choices[0].message.content

In [18]:
sql = consulta("necesito los 10 actores el nombre apellido y pelicula de las 10 peliculas mas existosas, solo 20 registros ")

In [19]:
print(sql)

```sql
SELECT a.first_name, a.last_name, f.title
FROM actor a
JOIN film_actor fa ON a.actor_id = fa.actor_id
JOIN film f ON fa.film_id = f.film_id
JOIN (
    SELECT f.film_id, SUM(p.amount) AS total_sales
    FROM payment p
    JOIN rental r ON p.rental_id = r.rental_id
    JOIN inventory i ON r.inventory_id = i.inventory_id
    JOIN film f ON i.film_id = f.film_id
    GROUP BY f.film_id
    ORDER BY total_sales DESC
    LIMIT 10
) AS top_films ON f.film_id = top_films.film_id
LIMIT 20;
```

In [20]:
query=sql.replace("```sql", "").replace("```", "").replace("\n"," ")

In [21]:
%sql {query}

 * mysql+pymysql://root:***@localhost:3306/sakila
   sqlite:///mi_base_de_datos.db
20 rows affected.

[('WOODY', 'HOFFMAN', 'TELEGRAPH VOYAGE'),
 ('CARMEN', 'HUNT', 'TELEGRAPH VOYAGE'),
 ('GINA', 'DEGENERES', 'TELEGRAPH VOYAGE'),
 ('LUCILLE', 'DEE', 'TELEGRAPH VOYAGE'),
 ('VIVIEN', 'BASINGER', 'TELEGRAPH VOYAGE'),
 ('MICHAEL', 'BENING', 'TELEGRAPH VOYAGE'),
 ('THORA', 'TEMPLE', 'TELEGRAPH VOYAGE'),
 ('WOODY', 'HOFFMAN', 'WIFE TURN'),
 ('JULIA', 'BARRYMORE', 'WIFE TURN'),
 ('GINA', 'DEGENERES', 'WIFE TURN'),
 ('CAMERON', 'ZELLWEGER', 'WIFE TURN'),
 ('GRETA', 'MALDEN', 'WIFE TURN'),
 ('MICHAEL', 'BOLGER', 'WIFE TURN'),
 ('IAN', 'TANDY', 'ZORRO ARK'),
 ('NICK', 'DEGENERES', 'ZORRO ARK'),
 ('LISA', 'MONROE', 'ZORRO ARK'),
 ('NICK', 'WAHLBERG', 'GOODFELLAS SALUTE'),
 ('JOHNNY', 'LOLLOBRIGIDA', 'GOODFELLAS SALUTE'),
 ('ELVIS', 'MARX', 'GOODFELLAS SALUTE'),
 ('BEN', 'WILLIS', 'GOODFELLAS SALUTE')]

In [ ]:
%%sql
SELECT a.first_name, a.last_name
FROM actor a
JOIN film_actor fa ON a.actor_id = fa.actor_id
JOIN inventory i ON fa.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id
JOIN film f ON fa.film_id = f.film_id
GROUP BY a.actor_id
ORDER BY SUM(p.amount) DESC
LIMIT 10;

In [24]:
print(consulta("nombres de las 10 peliculas mas actuales de Cameron Zellweger"))

```sql
SELECT f.title
FROM film f
JOIN film_actor fa ON f.film_id = fa.film_id
JOIN actor a ON fa.actor_id = a.actor_id
WHERE CONCAT(a.first_name, ' ', a.last_name) = 'Cameron Zellweger'
ORDER BY f.release_year DESC
LIMIT 10;
```

In [22]:
%sql {consulta("nombres de las 10 peliculas mas actuales de Cameron Zellweger").replace("```sql", "").replace("```", "").replace("\n"," ")}

 * mysql+pymysql://root:***@localhost:3306/sakila
   sqlite:///mi_base_de_datos.db
10 rows affected.

[('BEAUTY GREASE',),
 ('BLACKOUT PRIVATE',),
 ('BRIGHT ENCOUNTERS',),
 ('CLUELESS BUCKET',),
 ('CONQUERER NUTS',),
 ('CROW GREASE',),
 ('FLOATS GARDEN',),
 ('GLADIATOR WESTWARD',),
 ('GRIT CLOCKWORK',),
 ('HARRY IDAHO',)]

In [25]:
%%sql
SELECT f.title 
FROM film f
JOIN film_actor fa ON f.film_id = fa.film_id
JOIN actor a ON fa.actor_id = a.actor_id
WHERE a.first_name = 'Cameron' AND a.last_name = 'Zellweger'
ORDER BY f.release_year DESC;

 * mysql+pymysql://root:***@localhost:3306/sakila
   sqlite:///mi_base_de_datos.db
33 rows affected.

[('BEAUTY GREASE',),
 ('BLACKOUT PRIVATE',),
 ('BRIGHT ENCOUNTERS',),
 ('CLUELESS BUCKET',),
 ('CONQUERER NUTS',),
 ('CROW GREASE',),
 ('FLOATS GARDEN',),
 ('GLADIATOR WESTWARD',),
 ('GRIT CLOCKWORK',),
 ('HARRY IDAHO',),
 ('HAWK CHILL',),
 ('HELLFIGHTERS SIERRA',),
 ('JADE BUNCH',),
 ('JUGGLER HARDLY',),
 ('LAMBS CINCINATTI',),
 ('MALLRATS UNITED',),
 ('MOVIE SHAKESPEARE',),
 ('MURDER ANTITRUST',),
 ('ORIENT CLOSER',),
 ('PEARL DESTINY',),
 ('PILOT HOOSIERS',),
 ('PINOCCHIO SIMON',),
 ('PRIVATE DROP',),
 ('RIGHT CRANES',),
 ('RINGS HEARTBREAKERS',),
 ('ROCK INSTINCT',),
 ('ROOTS REMEMBER',),
 ('SECRETARY ROUGE',),
 ('STOCK GLASS',),
 ('TOMATOES HELLFIGHTERS',),
 ('TYCOON GATHERING',),
 ('WASTELAND DIVINE',),
 ('WIFE TURN',)]

In [30]:
%sql

 * mysql+pymysql://root:***@localhost:3306/sakila
   sqlite:///mi_base_de_datos.db

In [29]:
%sql {connection_url}

In [27]:
%sql sqlite://

## Dise√±e un esquema de base de datos para una aplicaci√≥n de comercio electr√≥nico con tablas para usuarios, productos, pedidos y order_items.

Claro, ac√° ten√©s un dise√±o b√°sico pero funcional de un esquema de base de datos para una aplicaci√≥n de comercio electr√≥nico. Incluye las tablas principales: usuarios, productos, pedidos y order_items (√≠tems del pedido).

### üì¶ Tablas y relaciones

1. usuarios
  - id: ID √∫nico del usuario (PK)
  - nombre: nombre del usuario
  - email: correo electr√≥nico (√∫nico)
  - direccion: direcci√≥n de env√≠o
  - fecha_creacion: fecha en que se registr√≥

2. productos
  - id: ID del producto (PK)
  - nombre: nombre del producto
  - descripcion: texto opcional
  - precio: precio unitario
  - stock: cantidad disponible

3. pedidos
  - id: ID del pedido (PK)
  - usuario_id: FK ‚Üí usuarios.id
   - fecha: fecha del pedido
  - estado: por ejemplo "pendiente", "enviado", "cancelado"

4. order_items
  - id: ID del √≠tem (PK)
  - pedido_id: FK ‚Üí pedidos.id
  - producto_id: FK ‚Üí productos.id
  - cantidad: cu√°ntos productos de ese tipo se pidieron
  - precio_unitario: precio del producto al momento del pedido (puede cambiar luego en productos)

üîó Relaciones

- Un usuario puede tener muchos pedidos
- Un pedido puede tener muchos √≠tems
- Un √≠tem pertenece a un solo producto

```sql
CREATE TABLE usuarios (
    id INTEGER PRIMARY KEY,
    nombre TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL,
    direccion TEXT,
    fecha_creacion TEXT
);

CREATE TABLE productos (
    id INTEGER PRIMARY KEY,
    nombre TEXT NOT NULL,
    descripcion TEXT,
    precio REAL NOT NULL,
    stock INTEGER NOT NULL
);

CREATE TABLE pedidos (
    id INTEGER PRIMARY KEY,
    usuario_id INTEGER NOT NULL,
    fecha TEXT NOT NULL,
    estado TEXT,
    FOREIGN KEY (usuario_id) REFERENCES usuarios(id)
);

CREATE TABLE order_items (
    id INTEGER PRIMARY KEY,
    pedido_id INTEGER NOT NULL,
    producto_id INTEGER NOT NULL,
    cantidad INTEGER NOT NULL,
    precio_unitario REAL NOT NULL,
    FOREIGN KEY (pedido_id) REFERENCES pedidos(id),
    FOREIGN KEY (producto_id) REFERENCES productos(id)
);
```

üìù Notas √∫tiles para sqlite3

SQLite s√≠ soporta claves for√°neas, pero ten√©s que activarlas si quer√©s que se cumplan:

```python
cursor.execute("PRAGMA foreign_keys = ON;")
```

El tipo TEXT y REAL funcionan bien para strings y n√∫meros con decimales, respectivamente.

Las fechas se guardan como texto (TEXT) en formato ISO (YYYY-MM-DD) por lo general.

### Diferencia entre motores sql

- üü° Diferencias para MySQL

- Tipo INTEGER PRIMARY KEY ‚Üí AUTO_INCREMENT

    ```sql
    id INTEGER PRIMARY KEY AUTO_INCREMENT
    ```
    
- Tipo TEXT para fechas ‚Üí usar DATETIME o TIMESTAMP

    ```sql
    fecha_creacion DATETIME
    fecha DATETIME
    ```

- Restricci√≥n de claves for√°neas requiere motor InnoDB

Agreg√° esto al final si quer√©s asegurarte:

```sql
ENGINE=InnoDB;
```

Nombres de tablas y columnas a veces necesitan cuidado si son reservados (como order)

En tu caso order_items est√° bien, pero order ser√≠a conflictivo.

- üß© Ejemplo (MySQL, modificada solo una tabla):

    ```sql
    CREATE TABLE usuarios (
        id INTEGER PRIMARY KEY AUTO_INCREMENT,
        nombre TEXT NOT NULL,
        email TEXT UNIQUE NOT NULL,
        direccion TEXT,
        fecha_creacion DATETIME
    ) ENGINE=InnoDB;
    ```

- üîµ Diferencias para PostgreSQL

- Tipo INTEGER PRIMARY KEY ‚Üí SERIAL PRIMARY KEY

    ```sql
    id SERIAL PRIMARY KEY

- Tipo de fechas: us√° TIMESTAMP o DATE

    ```sql
    fecha_creacion TIMESTAMP
    fecha TIMESTAMP
    ```

No hace falta declarar motor (ENGINE), PostgreSQL no lo usa.

- Tipos TEXT est√°n OK, pero podr√≠as preferir VARCHAR(n) si quer√©s l√≠mites.

- üß© Ejemplo (PostgreSQL, tabla modificada):

    ```sql
    CREATE TABLE usuarios (
        id SERIAL PRIMARY KEY,
        nombre TEXT NOT NULL,
        email TEXT UNIQUE NOT NULL,
        direccion TEXT,
        fecha_creacion TIMESTAMP
    );
    ```

‚úÖ Resumen de cambios clave

| Elemento                       | SQLite                | MySQL                                | PostgreSQL           |
| ------------------------------ | --------------------- | ------------------------------------ | -------------------- |
| Clave primaria autoincremental | `INTEGER PRIMARY KEY` | `INTEGER PRIMARY KEY AUTO_INCREMENT` | `SERIAL PRIMARY KEY` |
| Fecha/hora                     | `TEXT`                | `DATETIME` o `TIMESTAMP`             | `TIMESTAMP`          |
| Motor de tabla                 | No aplica             | `ENGINE=InnoDB`                      | No aplica            |

# Usando SQLalchemy como ORM

## üß± ¬øQu√© es un ORM?

ORM significa Object-Relational Mapping (Mapeo Objeto-Relacional).
Es una t√©cnica que permite trabajar con bases de datos relacionales (como SQLite, PostgreSQL, MySQL) usando clases y objetos en lugar de escribir consultas SQL manuales.

- Con un ORM:
  - Cada tabla de la base se representa como una clase.
  - Cada fila es una instancia de esa clase.
  - Cada columna es un atributo de la clase.

üßë‚Äçüíª Ejemplo simple

En vez de hacer esto en SQL:

```sql
SELECT * FROM usuarios WHERE id = 1;
```

Con un ORM como SQLAlchemy pod√©s hacer:

```python
usuario = session.query(Usuario).get(1)
```

- üîß ¬øPara qu√© sirve?
  - Para escribir menos SQL manual.
  - Para trabajar con la base usando Python puro.
  - Para que el c√≥digo sea m√°s portable y mantenible.

| Aspecto                          | ‚úÖ Ventajas del ORM                                           | ‚ö†Ô∏è Desventajas del ORM                                                 |
| -------------------------------- | ------------------------------------------------------------ | ---------------------------------------------------------------------- |
| **Productividad**                | Abstrae SQL, menos c√≥digo repetido                           | Puede ocultar detalles importantes del SQL                             |
| **Mantenimiento**                | Cambios en la base se reflejan en clases                     | Refactorizar mal puede causar errores silenciosos                      |
| **Legibilidad**                  | M√°s legible para quienes conocen Python                      | Menos legible para quienes prefieren SQL                               |
| **Compatibilidad entre motores** | El mismo c√≥digo puede funcionar en SQLite, MySQL, PostgreSQL | Algunos comportamientos pueden no ser id√©nticos                        |
| **Consultas complejas**          | Permite componer consultas con objetos                       | Consultas muy complejas pueden volverse verbosas                       |
| **Seguridad (inyecci√≥n SQL)**    | Menor riesgo si se usa bien                                  | Menor riesgo, pero a√∫n puede haber errores si se mezcla con SQL manual |
| **Rendimiento**                  | Adecuado para la mayor√≠a de los casos                        | Puede ser menos eficiente que SQL optimizado                           |
| **Aprendizaje**                  | M√°s amigable si ya conoc√©s Python                            | Requiere entender el mapeo ORM                                         |
| **Depuraci√≥n**                   | Genera SQL autom√°ticamente (puede verse con `echo=True`)     | A veces cuesta rastrear el SQL generado                                |
| **Relaciones entre tablas**      | Muy f√°cil de navegar con `relationship()`                    | Puede generar muchas consultas si no se usa bien (`n+1 queries`)       |

- üß† Conclusi√≥n

Usar un ORM como SQLAlchemy:

Es ideal para prototipos, apps peque√±as a medianas, y cuando prioriz√°s productividad y mantenimiento.

Puede ser menos eficiente que SQL puro en proyectos con grandes vol√∫menes de datos o consultas muy especializadas.

! En SQLAlchemy (y en general en cualquier ORM), pod√©s definir m√©todos personalizados dentro de cada clase del modelo. Esto es muy √∫til para:

- Encapsular l√≥gica relacionada con esa entidad.
- Agregar validaciones.
- Realizar acciones relacionadas con sus atributos.

üßë‚Äçüíª Ejemplo: agregar un m√©todo en una clase ORM

```python
class Usuario(Base):
    __tablename__ = 'usuarios'
    id = Column(Integer, primary_key=True)
    nombre = Column(String, nullable=False)
    email = Column(String, unique=True, nullable=False)

    def saludar(self):
        return f"Hola, soy {self.nombre}!"
```

Y pod√©s usarlo as√≠:

```python
usuario = session.query(Usuario).get(1)
print(usuario.saludar())  # ‚Üí Hola, soy Juan!
```
üìå Recomendaciones

Los m√©todos no deben hacer commits directamente, salvo que tengas un caso muy claro.

Pod√©s crear tambi√©n m√©todos de clase (@classmethod) o est√°ticos (@staticmethod) si necesit√°s l√≥gica m√°s general.

Tambi√©n pod√©s crear propiedades calculadas con @property.

üß± Esquema completo en SQLAlchemy (usando SQLite)

In [31]:
from sqlalchemy import create_engine, Column, Integer, String, Text, Float, DateTime
from sqlalchemy import ForeignKey

from sqlalchemy.orm import declarative_base, relationship, sessionmaker
from datetime import datetime

In [32]:
Base = declarative_base()

class Usuario(Base):
    __tablename__ = 'usuarios'
    id        = Column(Integer, primary_key=True)
    nombre    = Column(String, nullable=False)
    email     = Column(String, unique=True, nullable=False)
    direccion = Column(Text)
    fecha_creacion = Column(DateTime, default=datetime.utcnow)

    pedidos = relationship('Pedido', back_populates='usuario')


class Producto(Base):
    __tablename__ = 'productos'
    id          = Column(Integer, primary_key=True)
    nombre      = Column(String, nullable=False)
    descripcion = Column(Text)
    precio      = Column(Float, nullable=False)
    stock       = Column(Integer, nullable=False)

    items = relationship('OrderItem', back_populates='producto')


class Pedido(Base):
    __tablename__ = 'pedidos'
    id = Column(Integer, primary_key=True)
    usuario_id = Column(Integer, ForeignKey('usuarios.id'), nullable=False)
    fecha  = Column(DateTime, default=datetime.utcnow)
    estado = Column(String)

    usuario = relationship('Usuario', back_populates='pedidos')
    items   = relationship('OrderItem', back_populates='pedido')

    def total(self):
        return sum(item.cantidad * item.precio_unitario for item in self.items)

    def detalle(self):
        lineas = []
        for item in self.items:
            lineas.append(f"{item.cantidad} x {item.producto.nombre} @ {item.precio_unitario:.2f} = {item.cantidad * item.precio_unitario:.2f}")
        return lineas


class OrderItem(Base):
    __tablename__ = 'order_items'
    id = Column(Integer, primary_key=True)
    pedido_id = Column(Integer, ForeignKey('pedidos.id'), nullable=False)
    producto_id = Column(Integer, ForeignKey('productos.id'), nullable=False)
    cantidad = Column(Integer, nullable=False)
    precio_unitario = Column(Float, nullable=False)

    pedido = relationship('Pedido', back_populates='items')
    producto = relationship('Producto', back_populates='items')

In [34]:
# Crear la base en memoria o en archivo
engine = create_engine('sqlite:///:memory:', echo=True)

In [35]:
# Crear todas las tablas
Base.metadata.create_all(engine)

2025-05-26 20:03:12,819 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-26 20:03:12,832 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("usuarios")
2025-05-26 20:03:12,835 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-26 20:03:12,840 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("usuarios")
2025-05-26 20:03:12,847 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-26 20:03:12,853 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("productos")
2025-05-26 20:03:12,857 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-26 20:03:12,862 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("productos")
2025-05-26 20:03:12,873 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-26 20:03:12,880 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pedidos")
2025-05-26 20:03:12,890 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-26 20:03:12,901 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("pedidos")
2025-05-26 20:03:12,905 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-26 20:03:12,914 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("order_items")
2025-05-26 20:03:12,919 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-26 20:03:12,924 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("order_items")
2025-05-26 20:03:12,932 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-26 20:03:12,946 INFO sqlalchemy.engine.Engine
CREATE TABLE usuarios (
	id INTEGER NOT NULL,
	nombre VARCHAR NOT NULL,
	email VARCHAR NOT NULL,
	direccion TEXT,
	fecha_creacion DATETIME,
	PRIMARY KEY (id),
	UNIQUE (email)
)


2025-05-26 20:03:12,948 INFO sqlalchemy.engine.Engine [no key 0.00296s] ()
2025-05-26 20:03:12,956 INFO sqlalchemy.engine.Engine
CREATE TABLE productos (
	id INTEGER NOT NULL,
	nombre VARCHAR NOT NULL,
	descripcion TEXT,
	precio FLOAT NOT NULL,
	stock INTEGER NOT NULL,
	PRIMARY KEY (id)
)


2025-05-26 20:03:12,963 INFO sqlalchemy.engine.Engine [no key 0.00667s] ()
2025-05-26 20:03:13,256 INFO sqlalchemy.engine.Engine
CREATE TABLE pedidos (
	id INTEGER NOT NULL,
	usuario_id INTEGER NOT NULL,
	fecha DATETIME,
	estado VARCHAR,
	PRIMARY KEY (id),
	FOREIGN KEY(usuario_id) REFERENCES usuarios (id)
)


2025-05-26 20:03:13,268 INFO sqlalchemy.engine.Engine [no key 0.01196s] ()
2025-05-26 20:03:13,279 INFO sqlalchemy.engine.Engine
CREATE TABLE order_items (
	id INTEGER NOT NULL,
	pedido_id INTEGER NOT NULL,
	producto_id INTEGER NOT NULL,
	cantidad INTEGER NOT NULL,
	precio_unitario FLOAT NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(pedido_id) REFERENCES pedidos (id),
	FOREIGN KEY(producto_id) REFERENCES productos (id)
)


2025-05-26 20:03:13,286 INFO sqlalchemy.engine.Engine [no key 0.00673s] ()
2025-05-26 20:03:13,303 INFO sqlalchemy.engine.Engine COMMIT

In [36]:
# Crear una sesi√≥n
Session = sessionmaker(bind=engine)
session = Session()

Datos Ficticios para Cargar

In [37]:
# Crear usuarios y productos
u1 = Usuario(nombre='Ana', email='ana@example.com', direccion='Calle Falsa 123')
u2 = Usuario(nombre='Luis', email='luis@example.com', direccion='Av. Siempre Viva 742')

p1 = Producto(nombre='Teclado', descripcion='Teclado mec√°nico', precio=45.50, stock=10)
p2 = Producto(nombre='Mouse', descripcion='Mouse √≥ptico', precio=20.00, stock=20)
p3 = Producto(nombre='Monitor', descripcion='24 pulgadas LED', precio=120.99, stock=5)

session.add_all([u1, u2, p1, p2, p3])

In [38]:
# session.commit()

# Crear el pedido y sus items *antes* del commit
pedido = Pedido(usuario=u1, estado='pendiente')

item1 = OrderItem(producto=p1, cantidad=1, precio_unitario=p1.precio)
item2 = OrderItem(producto=p2, cantidad=2, precio_unitario=p2.precio)

pedido.items.extend([item1, item2])

session.add(pedido)
session.commit()

2025-05-26 20:06:30,935 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-26 20:06:30,954 INFO sqlalchemy.engine.Engine INSERT INTO productos (nombre, descripcion, precio, stock) VALUES (?, ?, ?, ?) RETURNING id
2025-05-26 20:06:30,958 INFO sqlalchemy.engine.Engine [generated in 0.00205s (insertmanyvalues) 1/3 (ordered; batch not supported)] ('Teclado', 'Teclado mec√°nico', 45.5, 10)
2025-05-26 20:06:30,966 INFO sqlalchemy.engine.Engine INSERT INTO productos (nombre, descripcion, precio, stock) VALUES (?, ?, ?, ?) RETURNING id
2025-05-26 20:06:30,972 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/3 (ordered; batch not supported)] ('Mouse', 'Mouse √≥ptico', 20.0, 20)
2025-05-26 20:06:30,976 INFO sqlalchemy.engine.Engine INSERT INTO productos (nombre, descripcion, precio, stock) VALUES (?, ?, ?, ?) RETURNING id
2025-05-26 20:06:30,979 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/3 (ordered; batch not supported)] ('Monitor', '24 pulgadas LED', 120.99, 5)
2025-05-26 20:06:30,992 INFO sqlalchemy.engine.Engine INSERT INTO usuarios (nombre, email, direccion, fecha_creacion) VALUES (?, ?, ?, ?) RETURNING id
2025-05-26 20:06:30,998 INFO sqlalchemy.engine.Engine [generated in 0.00196s (insertmanyvalues) 1/2 (ordered; batch not supported)] ('Ana', 'ana@example.com', 'Calle Falsa 123', '2025-05-26 23:06:30.991870')
2025-05-26 20:06:31,004 INFO sqlalchemy.engine.Engine INSERT INTO usuarios (nombre, email, direccion, fecha_creacion) VALUES (?, ?, ?, ?) RETURNING id
2025-05-26 20:06:31,008 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/2 (ordered; batch not supported)] ('Luis', 'luis@example.com', 'Av. Siempre Viva 742', '2025-05-26 23:06:30.991900')
2025-05-26 20:06:31,015 INFO sqlalchemy.engine.Engine INSERT INTO pedidos (usuario_id, fecha, estado) VALUES (?, ?, ?)
2025-05-26 20:06:31,019 INFO sqlalchemy.engine.Engine [generated in 0.00467s] (1, '2025-05-26 23:06:31.015317', 'pendiente')
2025-05-26 20:06:31,030 INFO sqlalchemy.engine.Engine INSERT INTO order_items (pedido_id, producto_id, cantidad, precio_unitario) VALUES (?, ?, ?, ?) RETURNING id
2025-05-26 20:06:31,065 INFO sqlalchemy.engine.Engine [generated in 0.00047s (insertmanyvalues) 1/2 (ordered; batch not supported)] (1, 1, 1, 45.5)
2025-05-26 20:06:31,069 INFO sqlalchemy.engine.Engine INSERT INTO order_items (pedido_id, producto_id, cantidad, precio_unitario) VALUES (?, ?, ?, ?) RETURNING id
2025-05-26 20:06:31,092 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/2 (ordered; batch not supported)] (1, 2, 2, 20.0)
2025-05-26 20:06:31,100 INFO sqlalchemy.engine.Engine COMMIT

In [39]:
pedido.total()

2025-05-26 20:07:15,951 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-26 20:07:15,968 INFO sqlalchemy.engine.Engine SELECT pedidos.id AS pedidos_id, pedidos.usuario_id AS pedidos_usuario_id, pedidos.fecha AS pedidos_fecha, pedidos.estado AS pedidos_estado
FROM pedidos
WHERE pedidos.id = ?
2025-05-26 20:07:15,971 INFO sqlalchemy.engine.Engine [generated in 0.00385s] (1,)
2025-05-26 20:07:15,987 INFO sqlalchemy.engine.Engine SELECT order_items.id AS order_items_id, order_items.pedido_id AS order_items_pedido_id, order_items.producto_id AS order_items_producto_id, order_items.cantidad AS order_items_cantidad, order_items.precio_unitario AS order_items_precio_unitario
FROM order_items
WHERE ? = order_items.pedido_id
2025-05-26 20:07:15,991 INFO sqlalchemy.engine.Engine [generated in 0.00433s] (1,)

85.5

In [40]:
pedido.detalle()

2025-05-26 20:07:26,044 INFO sqlalchemy.engine.Engine SELECT productos.id AS productos_id, productos.nombre AS productos_nombre, productos.descripcion AS productos_descripcion, productos.precio AS productos_precio, productos.stock AS productos_stock
FROM productos
WHERE productos.id = ?
2025-05-26 20:07:26,058 INFO sqlalchemy.engine.Engine [generated in 0.01390s] (1,)
2025-05-26 20:07:26,067 INFO sqlalchemy.engine.Engine SELECT productos.id AS productos_id, productos.nombre AS productos_nombre, productos.descripcion AS productos_descripcion, productos.precio AS productos_precio, productos.stock AS productos_stock
FROM productos
WHERE productos.id = ?
2025-05-26 20:07:26,078 INFO sqlalchemy.engine.Engine [cached since 0.03376s ago] (2,)

['1 x Teclado @ 45.50 = 45.50', '2 x Mouse @ 20.00 = 40.00']

Pedido para luis que quiere 2 monitores un teclado y un mouse

In [41]:
# 1. Obtener al usuario "Luis"
luis = session.query(Usuario).filter_by(nombre='Luis').first()

# 2. Obtener los productos necesarios
teclado = session.query(Producto).filter_by(nombre='Teclado').first()
mouse = session.query(Producto).filter_by(nombre='Mouse').first()
monitor = session.query(Producto).filter_by(nombre='Monitor').first()

# 3. Crear el nuevo pedido
pedido_luis = Pedido(usuario=luis, estado='pendiente')

# 4. Crear los √≠tems del pedido
item1 = OrderItem(producto=teclado, cantidad=1, precio_unitario=teclado.precio)
item2 = OrderItem(producto=mouse, cantidad=1, precio_unitario=mouse.precio)
item3 = OrderItem(producto=monitor, cantidad=2, precio_unitario=monitor.precio)

# Asignar los √≠tems al pedido
pedido_luis.items.extend([item1, item2, item3])

# 5. Agregar el pedido a la sesi√≥n y guardar todo
session.add(pedido_luis)
session.commit()

print("Pedido creado correctamente para Luis.")

2025-05-26 20:10:01,015 INFO sqlalchemy.engine.Engine SELECT usuarios.id AS usuarios_id, usuarios.nombre AS usuarios_nombre, usuarios.email AS usuarios_email, usuarios.direccion AS usuarios_direccion, usuarios.fecha_creacion AS usuarios_fecha_creacion
FROM usuarios
WHERE usuarios.nombre = ?
 LIMIT ? OFFSET ?
2025-05-26 20:10:01,034 INFO sqlalchemy.engine.Engine [generated in 0.02147s] ('Luis', 1, 0)
2025-05-26 20:10:01,058 INFO sqlalchemy.engine.Engine SELECT productos.id AS productos_id, productos.nombre AS productos_nombre, productos.descripcion AS productos_descripcion, productos.precio AS productos_precio, productos.stock AS productos_stock
FROM productos
WHERE productos.nombre = ?
 LIMIT ? OFFSET ?
2025-05-26 20:10:01,065 INFO sqlalchemy.engine.Engine [generated in 0.00751s] ('Teclado', 1, 0)
2025-05-26 20:10:01,076 INFO sqlalchemy.engine.Engine SELECT productos.id AS productos_id, productos.nombre AS productos_nombre, productos.descripcion AS productos_descripcion, productos.precio AS productos_precio, productos.stock AS productos_stock
FROM productos
WHERE productos.nombre = ?
 LIMIT ? OFFSET ?
2025-05-26 20:10:01,080 INFO sqlalchemy.engine.Engine [cached since 0.02228s ago] ('Mouse', 1, 0)
2025-05-26 20:10:01,093 INFO sqlalchemy.engine.Engine SELECT productos.id AS productos_id, productos.nombre AS productos_nombre, productos.descripcion AS productos_descripcion, productos.precio AS productos_precio, productos.stock AS productos_stock
FROM productos
WHERE productos.nombre = ?
 LIMIT ? OFFSET ?
2025-05-26 20:10:01,100 INFO sqlalchemy.engine.Engine [cached since 0.03922s ago] ('Monitor', 1, 0)
2025-05-26 20:10:01,160 INFO sqlalchemy.engine.Engine INSERT INTO pedidos (usuario_id, fecha, estado) VALUES (?, ?, ?)
2025-05-26 20:10:01,164 INFO sqlalchemy.engine.Engine [cached since 210.1s ago] (2, '2025-05-26 23:10:01.159957', 'pendiente')
2025-05-26 20:10:01,174 INFO sqlalchemy.engine.Engine INSERT INTO order_items (pedido_id, producto_id, cantidad, precio_unitario) VALUES (?, ?, ?, ?) RETURNING id
2025-05-26 20:10:01,177 INFO sqlalchemy.engine.Engine [cached since 210.1s ago (insertmanyvalues) 1/3 (ordered; batch not supported)] (2, 1, 1, 45.5)
2025-05-26 20:10:01,185 INFO sqlalchemy.engine.Engine INSERT INTO order_items (pedido_id, producto_id, cantidad, precio_unitario) VALUES (?, ?, ?, ?) RETURNING id
2025-05-26 20:10:01,202 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/3 (ordered; batch not supported)] (2, 2, 1, 20.0)
2025-05-26 20:10:01,209 INFO sqlalchemy.engine.Engine INSERT INTO order_items (pedido_id, producto_id, cantidad, precio_unitario) VALUES (?, ?, ?, ?) RETURNING id
2025-05-26 20:10:01,214 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/3 (ordered; batch not supported)] (2, 3, 2, 120.99)
2025-05-26 20:10:01,222 INFO sqlalchemy.engine.Engine COMMIT
Pedido creado correctamente para Luis.

In [42]:
for item in pedido_luis.detalle():
    print (item)
print(pedido_luis.total())

2025-05-26 20:10:24,851 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-26 20:10:24,855 INFO sqlalchemy.engine.Engine SELECT pedidos.id AS pedidos_id, pedidos.usuario_id AS pedidos_usuario_id, pedidos.fecha AS pedidos_fecha, pedidos.estado AS pedidos_estado
FROM pedidos
WHERE pedidos.id = ?
2025-05-26 20:10:24,858 INFO sqlalchemy.engine.Engine [cached since 188.9s ago] (2,)
2025-05-26 20:10:24,863 INFO sqlalchemy.engine.Engine SELECT order_items.id AS order_items_id, order_items.pedido_id AS order_items_pedido_id, order_items.producto_id AS order_items_producto_id, order_items.cantidad AS order_items_cantidad, order_items.precio_unitario AS order_items_precio_unitario
FROM order_items
WHERE ? = order_items.pedido_id
2025-05-26 20:10:24,865 INFO sqlalchemy.engine.Engine [cached since 188.9s ago] (2,)
2025-05-26 20:10:24,868 INFO sqlalchemy.engine.Engine SELECT productos.id AS productos_id, productos.nombre AS productos_nombre, productos.descripcion AS productos_descripcion, productos.precio AS productos_precio, productos.stock AS productos_stock
FROM productos
WHERE productos.id = ?
2025-05-26 20:10:24,871 INFO sqlalchemy.engine.Engine [cached since 178.8s ago] (1,)
2025-05-26 20:10:24,878 INFO sqlalchemy.engine.Engine SELECT productos.id AS productos_id, productos.nombre AS productos_nombre, productos.descripcion AS productos_descripcion, productos.precio AS productos_precio, productos.stock AS productos_stock
FROM productos
WHERE productos.id = ?
2025-05-26 20:10:24,880 INFO sqlalchemy.engine.Engine [cached since 178.8s ago] (2,)
2025-05-26 20:10:24,884 INFO sqlalchemy.engine.Engine SELECT productos.id AS productos_id, productos.nombre AS productos_nombre, productos.descripcion AS productos_descripcion, productos.precio AS productos_precio, productos.stock AS productos_stock
FROM productos
WHERE productos.id = ?
2025-05-26 20:10:24,887 INFO sqlalchemy.engine.Engine [cached since 178.8s ago] (3,)
1 x Teclado @ 45.50 = 45.50
1 x Mouse @ 20.00 = 20.00
2 x Monitor @ 120.99 = 241.98
307.48

In [43]:
productos = session.query(Producto)

In [44]:
for producto in productos.all():
    print(producto.nombre, producto.stock)

2025-05-26 20:10:54,952 INFO sqlalchemy.engine.Engine SELECT productos.id AS productos_id, productos.nombre AS productos_nombre, productos.descripcion AS productos_descripcion, productos.precio AS productos_precio, productos.stock AS productos_stock
FROM productos
2025-05-26 20:10:54,955 INFO sqlalchemy.engine.Engine [generated in 0.00249s] ()
Teclado 10
Mouse 20
Monitor 5

üìÑ Leer datos (Read)

In [46]:
# Obtener todos los pedidos de Ana
ana = session.query(Usuario).filter_by(nombre='Ana').first()
for p in ana.pedidos:
    print("Pedido ID:", p.id)
    print("Estado : ", p.estado)
    print("Total:", p.total())
    print("Detalle:")
    for linea in p.detalle():
        print("  ", linea)

2025-05-26 20:12:08,810 INFO sqlalchemy.engine.Engine SELECT usuarios.id AS usuarios_id, usuarios.nombre AS usuarios_nombre, usuarios.email AS usuarios_email, usuarios.direccion AS usuarios_direccion, usuarios.fecha_creacion AS usuarios_fecha_creacion
FROM usuarios
WHERE usuarios.nombre = ?
 LIMIT ? OFFSET ?
2025-05-26 20:12:08,814 INFO sqlalchemy.engine.Engine [cached since 127.8s ago] ('Ana', 1, 0)
Pedido ID: 1
Estado :  pendiente
Total: 85.5
Detalle:
   1 x Teclado @ 45.50 = 45.50
   2 x Mouse @ 20.00 = 40.00

üìù Modificar datos (Update)

In [47]:
p.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1f2af3ad370>,
 'id': 1,
 'estado': 'pendiente',
 'usuario_id': 1,
 'fecha': datetime.datetime(2025, 5, 26, 23, 6, 31, 15317),
 'items': [<__main__.OrderItem at 0x1f2af42a570>,
  <__main__.OrderItem at 0x1f2af3edbf0>]}

In [48]:
# Cambiar estado del pedido
p.estado = 'enviado'
session.commit()

2025-05-26 20:13:41,177 INFO sqlalchemy.engine.Engine UPDATE pedidos SET estado=? WHERE pedidos.id = ?
2025-05-26 20:13:41,181 INFO sqlalchemy.engine.Engine [generated in 0.00385s] ('enviado', 1)
2025-05-26 20:13:41,188 INFO sqlalchemy.engine.Engine COMMIT

In [50]:
ana = session.query(Usuario).filter_by(nombre='Ana').first()
for p in ana.pedidos:
    print("Pedido ID:", p.id)
    print("Estado : ", p.estado)
    print("Total:", p.total())
    print("Detalle:")
    for linea in p.detalle():
        print("  ", linea)

2025-05-26 20:13:56,312 INFO sqlalchemy.engine.Engine SELECT usuarios.id AS usuarios_id, usuarios.nombre AS usuarios_nombre, usuarios.email AS usuarios_email, usuarios.direccion AS usuarios_direccion, usuarios.fecha_creacion AS usuarios_fecha_creacion
FROM usuarios
WHERE usuarios.nombre = ?
 LIMIT ? OFFSET ?
2025-05-26 20:13:56,314 INFO sqlalchemy.engine.Engine [cached since 235.3s ago] ('Ana', 1, 0)
Pedido ID: 1
Estado :  enviado
Total: 85.5
Detalle:
   1 x Teclado @ 45.50 = 45.50
   2 x Mouse @ 20.00 = 40.00

‚ùå Eliminar datos (Delete)

In [51]:
# Eliminar un producto
producto_a_eliminar = session.query(Producto).filter_by(nombre='Monitor').first()
session.delete(producto_a_eliminar)
session.commit()

2025-05-26 20:14:34,474 INFO sqlalchemy.engine.Engine SELECT productos.id AS productos_id, productos.nombre AS productos_nombre, productos.descripcion AS productos_descripcion, productos.precio AS productos_precio, productos.stock AS productos_stock
FROM productos
WHERE productos.nombre = ?
 LIMIT ? OFFSET ?
2025-05-26 20:14:34,477 INFO sqlalchemy.engine.Engine [cached since 273.4s ago] ('Monitor', 1, 0)
2025-05-26 20:14:34,486 INFO sqlalchemy.engine.Engine SELECT order_items.id AS order_items_id, order_items.pedido_id AS order_items_pedido_id, order_items.producto_id AS order_items_producto_id, order_items.cantidad AS order_items_cantidad, order_items.precio_unitario AS order_items_precio_unitario
FROM order_items
WHERE ? = order_items.producto_id
2025-05-26 20:14:34,488 INFO sqlalchemy.engine.Engine [generated in 0.00286s] (3,)
2025-05-26 20:14:34,493 INFO sqlalchemy.engine.Engine UPDATE order_items SET producto_id=? WHERE order_items.id = ?
2025-05-26 20:14:34,495 INFO sqlalchemy.engine.Engine [generated in 0.00201s] (None, 5)
2025-05-26 20:14:34,499 INFO sqlalchemy.engine.Engine ROLLBACK

IntegrityError: (sqlite3.IntegrityError) NOT NULL constraint failed: order_items.producto_id
[SQL: UPDATE order_items SET producto_id=? WHERE order_items.id = ?]
[parameters: (None, 5)]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

creo que se debe que tengo un pedido donde esta ese producto, puede ser '


ChatGPT dijo:
Exacto, el error que est√°s viendo se debe a que est√°s intentando eliminar un producto que est√° referenciado en otra tabla, espec√≠ficamente en order_items (√≠tems de pedido), y esa relaci√≥n tiene una restricci√≥n NOT NULL en el campo producto_id.

Qu√© est√° pasando
Cuando haces:

```python
session.delete(producto_a_eliminar)
session.commit()
```

SQLAlchemy intenta actualizar los registros de order_items que hacen referencia a ese producto, probablemente porque tienes una relaci√≥n definida con cascade="all" o similar, y no se puede establecer producto_id = NULL porque el campo es NOT NULL.

C√≥mo solucionarlo
Tienes varias opciones, dependiendo del comportamiento que desees:

 ‚úÖ Opci√≥n 1: Prevenir la eliminaci√≥n si el producto est√° en uso

```python
producto = session.query(Producto).filter_by(nombre='Monitor').first()

# Verificar si hay pedidos con ese producto
if producto and producto.order_items:
    print("No se puede eliminar el producto, est√° en pedidos existentes.")
else:
    session.delete(producto)
    session.commit()
```

- ‚úÖ Opci√≥n 2: Eliminar tambi√©n los √≠tems relacionados (si est√°s seguro)
Esto borra los registros de order_items que lo usan:

```python
producto = session.query(Producto).filter_by(nombre='Monitor').first()

if producto:
    for item in producto.order_items:
        session.delete(item)
    session.delete(producto)
    session.commit()
```

- ‚úÖ Opci√≥n 3: Definir ON DELETE CASCADE en la base de datos

Si us√°s SQLite, necesitas declarar las claves for√°neas con ondelete="CASCADE" y activar las foreign keys as√≠:

```python
from sqlalchemy import event
from sqlalchemy.engine import Engine

@event.listens_for(Engine, "connect")
def set_sqlite_pragma(dbapi_connection, connection_record):
    cursor = dbapi_connection.cursor()
    cursor.execute("PRAGMA foreign_keys=ON")
    cursor.close()
```

Y en tu modelo de OrderItem:

```python
pedido_id = Column(Integer, ForeignKey('pedidos.id', ondelete='CASCADE'))
producto_id = Column(Integer, ForeignKey('productos.id', ondelete='CASCADE'))
```

Pero ten en cuenta que para que esto funcione bien, debes haber creado la base con esa configuraci√≥n desde el principio.

¬øQuer√©s que te ayude a revisar tus modelos para ver si podemos aplicar esta soluci√≥n de forma segura?